#promote {
    background-color: var(--g100);
}

#promote span {
    display: block;
    text-align: center;
}

#promote .rf-text--sm {
    text-align: center;
    margin: inherit;
}

.text-green-soft {
    color: var(--gm500);
}

.text-orange-soft {
    color: var(--os500);
}

.text-blue-soft {
    color: var(--bs500);
}

#DarkMode {
    border: none;
    background: transparent;
    cursor: pointer;
}

#DarkMode img {
    width: auto;
    height: 30px;
    cursor: pointer;
}

#BackHome {
    position: absolute;
    top: 1.5%;
    left: 1%;
    z-index: 999 !important;
}

#flow .react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output {
    padding: 10px !important;
    width: 180px !important;
    font-size: 11.5px !important;
    color: #222 !important;
    text-align: center !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}

#flow .react-flow__handle {
    position: absolute !important;
    width: 6px !important;
    height: 6px !important;
    background: #555 !important;
    border: 1px solid #fff !important;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
}


#flow .rf-prose p,
:root .rf-text,
[data-rf-reset] p {
    margin: initial;
}

ul {
    margin: 0%;
    padding: 0%;
}

ul li {
    list-style: none;
}

body::after {
    content: "DCC";
    position: fixed;
    width: 80px;
    background: var(--error);
    top: 7px;
    right: -20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #f8f8f8;
    opacity: 1;
    z-index: 2;
}

.spinner {
    position: relative;
    float: left;
    color: #383838;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.DarkToggle .react-toggle-track {
    text-shadow: 0 0 #fff;
    color: transparent;
    font-size: 12px;
    width: 50px;
    height: 24px;
}

.DarkToggle.react-toggle .react-toggle-track {
    background: #383838;
}

.DarkToggle .react-toggle-track-check {
    margin-top: 12px;
}

.DarkToggle .react-toggle-track-x {
    margin-top: 12px;
}

.react-toggle-thumb {
    border-color: black !important
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #f0f0f0 !important
}

.rf-collapse{
    --collapse:0px!important;
}

html body #tarteaucitronRoot, html body #tarteaucitronRoot #tarteaucitronAlertBig span, #tarteaucitronH1, #tarteaucitronInfo, .tarteaucitronH2, .tarteaucitronH3, #tarteaucitronPersonalize2, #tarteaucitronAllDenied2, #tarteaucitronCloseAlert{
    font-family: "Marianne",arial,sans-serif!important;
}